body{
    background-color: #171A21;
}

/* CAPTCHA */
#captcha{ 
    background-color: white;
    height: 150px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: auto;
    margin-top: 5em;
    display: flex;
    font-family: Roboto,helvetica,arial,sans-serif;;
}


/* Text next to check box */
#checkText{
    color: black;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: calc(76px - .5em);
    padding-bottom: calc(76px - 1em);
    text-align: center;
    white-space: nowrap;
}

/* Dreamcatcher icon */
#catcher{
    display: block;
    width: 110px;
    height: 110px;
    padding-left: 10px;
    padding-top: 10px;
}

/* DreamCAPTCHA */
#dcLogo{
    color: #555;
    display: block;
    margin-right: 0;
    margin-left: 50px;
}

/* DreamCAPTCHA text */
#dcLogo p{
    padding: 2px;
    margin: 0%;
}

/* Header */
header{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: max-content;
    color: white;
}

header h1{
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42pt;
  margin-bottom: 0%;
}

header p{
    margin: 5px auto 0 auto;
    font-size: 13pt;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 500;

}

/* Loading circle */
.spinner {
	position:relative;
	display:flex;
	margin:2em 1em;
	align-items:center;
	justify-content:center;
}

/* Checkbox */
input[type="checkbox"] { 
  position: absolute; 
  opacity: 0; 
  z-index: -1; 
}

/* Checkmark */
input[type="checkbox"]+.checkmark {
	display:inline-block;
	width:2em;
	height:2em;
	background-color:#fcfcfc;
	border:2.5px solid #c3c3c3;
	border-radius:3px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}

input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;
	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}

input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}

input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}

input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}

input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}

input[type="checkbox"]:checked+.checkmark>span:after {
  animation:.3s bottomslide 2s forwards;
}

input[type="checkbox"]:checked+.checkmark>span:before {
  animation:.5s rightslide 2.2s forwards;
}

/* Animations */
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}

@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
}

@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
